body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Public Pixel', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 400px;
  min-height: 400px;
  max-width: 960px;
  max-height: 960px;
}

canvas {
  width: 100%;
  border: 4px solid white;
}

#balance {
  position: absolute;
  font-size: 2rem;
  color: white;
  top: -12%;
}
